<mat-card class="container">
  <mat-card-header>
    <mat-card-title> Listar Jogos </mat-card-title>
  </mat-card-header>
  <mat-card-content> 
    <table>
      <tr>
          <th>ID</th>
          <th>Seleção A</th>
          <th> </th>
          <th>Seleção B</th>
      </tr>
      <tr *ngFor="let jogo of jogos">
          <td>{{ jogo.id }}</td>
          <td>{{ jogo.selecaoA?.nome }}</td>
          <td>{{ jogo.placar}}</td>
          <td>{{ jogo.selecaoB?.nome }}</td>
          <td>
              <button mat-raised-button color="warn">Palpitar</button>
          </td>
      </tr>
  </table>
  
  </mat-card-content>
</mat-card>
